    <!-- footer -->
    <footer class="padding-top-10px padding-bottom-1px bg-b1c oc wow fadeInUp">
        <div class="container">
            <div class="row padding-0px margin-0px">
                <div class="col-lg-12">

                    <div class="col-lg-6 col-md-12 float-right">
                        <a class="d-inline-block float-right festival-photo"><img class="w-75" src="assets/img/namad.png" alt="samandehi picture"></a>
                        <a class="d-inline-block float-right festival-photo"><img class="w-75" src="assets/img/certificate-light.png" alt="pic"></a>
                    </div>
                    <div class="col-lg-6 col-md-12 contact-us float-right text-white">
                        <div class="padding-20px float-left clearfix">
                            <ul class="social-icon style-2 " style="font-size: 20px;">
                                <li class="list-inline-item"><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                                <li class="list-inline-item"><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li class="list-inline-item"><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li class="list-inline-item"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-white opacity-4">
            <div class="row">
                <div class="col-12 padding-bottom-20px">
                    <p class="margin-0px text-white opacity-7 sm-mb-15px text-center">©کلیه حقوق مادی و معنوی سایت محفوظ می‌باشد. </p>
                </div>
            </div>
        </div>
    </footer>