<!-- header-->
<header class="navbar navbar-fixed-top navbar-inverse bg-b1c">
        <div class="container-fluid">
            <div class="navbar-header">
                <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle bg-oc pull-right">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="clearfix w-100">
                    <a id="logo1" href="index.html" style="width: 25% !important; float: left; margin: 3% 0 0 1%;">
                        <img src="/static/assets/img/drman.net-logo.png" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="col-12 position-inherit w-100">
                <div><a id="logo" href="index.html"><img src="/static/assets/img/drman.net-logo.png" alt="logo" /></a></div>
                <div class="navbar-inverse bg-b1c side-collapse in">
                    <nav class="navbar-collapse float-left">
                        <ul class="nav navbar-nav" style="display: block;">
                            <li><a href="index.html" class="oc">خانه</a></li>
                            <li><a href="blog-list.html">وبلاگ</a></li>
                            <li><a href="page-contact-us.html">درباره ما</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
<!-- // Header  -->