    <!-- header-->
    <header>
        <div id="fixed-header-dark" class="header-output fixed-header">
            <div class="col-lg-2 col-md-10">
                <a class="mobile-toggle padding-13px bg-b1c" href="#"><i class="zmdi zmdi-menu"></i></a>
            </div>
            <div><a id="logo" href="index.html"><img src="/static/assets/img/drman.net-logo.png" alt="logo" /></a></div>
            <div class="container-fluid header-in">
                <div class="row padding-8px margin-0px float-left">
                    <div class="col-12 position-inherit w-100">
                        <ul id="menu-main" class="nav-menu float-lg-right link-padding-tb-20px">
                            <li><a href="index.html" class="oc">خانه</a></li>

                            <li class="has-dropdown"><a href="#"> عضویت بیمار
                                    <i class="zmdi zmdi-caret-down"></i>

                                </a>
                                <ul class="sub-menu">
                                    <li><a href="sign-in.html"><i class="far fa-user"></i> ورود</a></li>
                                    <li><a href="sign-up-user.html"><i class="far fa-user"></i> ثبت نام</a></li>
                                </ul>
                            </li>

                            <li class="has-dropdown"><a href="#">
                                    عضویت پزشک
                                    <i class="zmdi zmdi-caret-down"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="sign-in.html"><i class="far fa-user"></i> ورود</a></li>
                                    <li><a href="sign-up-doctor.html"><i class="far fa-user"></i> ثبت نام رایگان</a></li>
                                    <li><a href="#"><i class="far fa-hospital"></i> کلینیک</a></li>
                                </ul>
                            </li>
                            <li><a href="services.html">خدمات</a></li>
                            <!--                            <li><a href="page-pricing-tables.html">تعرفه ها</a></li>-->
                            <li><a href="blog-list.html">وبلاگ</a></li>
                            <li><a href="page-contact-us.html">ارتباط با ما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- // Header  -->