{% load blog_tags %}
{% load thumbnail %}
{% load static %}



<html lang="fa">
<head>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap3.min.css">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.1.3/css/bootstrap.min.css" integrity="sha384-Jt6Tol1A2P9JBesGeCxNrxkmRFSjWCBW1Af7CSQSKsfMVQCqnUVWhZzG0puJMCK6" crossorigin="anonymous" />
    <!-- main style -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>


{% block content %}

<body class="background-grey">
    <!-- header-->
    <header class="navbar navbar-fixed-top navbar-inverse bg-b1c">
        <div class="container-fluid">
            <div class="navbar-header">
                <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle bg-oc pull-right">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="clearfix w-100">
                    <a id="logo1" href="index.html" style="width: 25% !important; float: left; margin: 3% 0 0 1%;">
                        <img src="/static/assets/img/drman.net-logo.png" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="col-12 position-inherit w-100">
                <div><a id="logo" href="index.html"><img src="/static/assets/img/drman.net-logo.png" alt="logo" /></a></div>
                <div class="navbar-inverse bg-b1c side-collapse in">
                    <nav class="navbar-collapse float-left">
                        <ul class="nav navbar-nav" style="display: block;">
                            <li><a href="{% url 'filter_search' %}" class="oc">خانه</a></li>
                            <li><a href="{% url 'blog:post_list' %}">وبلاگ</a></li>
                            <li><a href="page-contact-us.html">درباره ما</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- // Header  -->


    <div id="page-title" class="padding-tb-30px gradient-white  padding-top-100px">
        <div class="container text-right">
            <ol class="breadcrumb opacity-8">
                <li><a href="{% url 'filter_search' %}">خانه</a> <i class="fas fa-angle-right"></i></li>
                <li class="active">لیست بلاگ ها</li>
            </ol>
            <h1 class="font-weight-300">لیست بلاگ ها</h1>
        </div>
    </div>


    <div class="margin-tb-30px">
        <div class="container text-right">
            <div class="row">

                <div class="col-lg-4">

                    <div class="margin-bottom-30px">
                        <div class="padding-30px background-white border-radius-10">
                            <h2><i class="fas fa-search margin-right-10px text-main-color"></i> جستجو</h2>
                            <hr>
                            <div class="input-group mb-3 w-100 float-none">

                                <form autocomplete="off" method="get" id="blog_search" action="{% url 'blog:post_list' %}">
                                {% csrf_token %}


                                    <div class="input-group-append  direction-r">


                                    {{ searchform.search }}

                                        <button class="blog-search-btn btn btn-outline-secondary b1c bg-warning border-radius-0" type="submit">جستجو</button>


<!--                                    <input type="text" value="" class="form-control border-radius-0 direction-r blog-search-input" placeholder="جستجو...">-->

                                        </div>

                                </form>

                            </div>

                        </div>
                    </div>

                    <div class="widget widget_categories">
                        <div class="margin-bottom-30px">
                            <div class="padding-30px background-white border-radius-10">
                                <h4><i class="far fa-folder-open margin-right-10px text-main-color"></i> دسته بندی ها</h4>
                                <hr>
                                <ul>
                                   {% for cat in cat_list %}
                                    <li><i class="far fa-folder-open margin-left-10px oc"></i><a href="{% url 'blog:post_list_by_cat' cat.slug %}" class="b1c">{{ cat.name }}</a></li>
                                   {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 poster text-center margin-bottom-20px">
                        <a href="http://drman.net">
                            <img width="320" height="140" src="https://drman.net/wp-content/uploads/2018/11/samak_alborz.gif" class="image wp-image-5522  attachment-full size-full" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 poster text-center margin-bottom-20px">
                        <a href="http://drman.net">
                            <img width="320" height="140" src="https://drman.net/wp-content/uploads/2018/10/avin_fattahi_banner.gif" class="image wp-image-5522  attachment-full size-full" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 col-xs-12 poster text-center margin-bottom-20px">
                        <a href="http://drman.net">
                            <img width="320" height="140" src="https://drman.net/wp-content/uploads/2018/11/samak_alborz.gif" class="image wp-image-5522  attachment-full size-full" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 col-xs-12 poster text-center margin-bottom-20px">
                        <a href="http://drman.net">
                            <img width="320" height="140" src="https://drman.net/wp-content/uploads/2018/10/avin_fattahi_banner.gif" class="image wp-image-5522  attachment-full size-full" alt="" />
                        </a>
                    </div>


                </div>
                <div class="col-lg-8">

                    {% for post in results %}
                        <div class="blog-entry background-white border-1 border-grey-1 margin-bottom-35px">
                        <div class="row no-gutters">
                            <div class="img-in col-lg-5"><a href="{{ post.url }}"><img src="{{ post.thumbnailImage }}" alt="{{ post.title }}"></a></div>
                            <div class="col-lg-7 text-right">
                                <div class="padding-20px">
                                    <a class="d-block h4  text-capitalize margin-bottom-8px" href="{{ post.url }}">
                                        <h3 class="oc">{{ post.title }}</h3>
                                        <h4>
                                           {{ post.text|markdown|truncatewords_html:30 }}
                                        </h4>
                                    </a>
                                    <div class="meta">
                                        <span class=" text-extra-small">توسط : <a href="#" class="text-main-color">{{ post.author }}</a></span>
                                        <span class="margin-right-20px text-extra-small">{{ post.publish }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}



                    <div class="row"></div>


                        {% include "./pagination.html" with page=posts %}


                </div>

            </div>

        </div>
    </div>
    <!-- footer -->
    <footer class="padding-top-10px padding-bottom-1px bg-b1c oc wow fadeInUp">
        <div class="container">
            <div class="row padding-0px margin-0px">
                <div class="col-lg-12">

                    <div class="col-lg-6 col-md-12 float-right">
                        <a class="d-inline-block float-right festival-photo"><img class="w-75" src="/static/assets/img/namad.png" alt="samandehi picture"></a>
                        <a class="d-inline-block float-right festival-photo"><img class="w-75" src="/static/assets/img/certificate-light.png" alt="pic"></a>


                    </div>
                    <div class="col-lg-6 col-md-12 contact-us float-right text-white">
                        <div class="padding-20px float-left clearfix">
                            <ul class="social-icon style-2 " style="font-size: 20px;">
                                <li class="list-inline-item"><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                                <li class="list-inline-item"><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li class="list-inline-item"><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li class="list-inline-item"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <h3>dfsdfsdfsdf</h3>

            <hr class="border-white opacity-4">
            <div class="row">
                <div class="col-12 padding-bottom-20px">
                    <p class="margin-0px text-white opacity-7 sm-mb-15px text-center">©کلیه حقوق مادی و معنوی سایت محفوظ می‌باشد. </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- fontawesome  -->
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <!--  menu  -->
    <script src="/static/assets/js/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function(event) {
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
        });

    </script>
</body>

{% endblock %}

</html>